 * {
    border: solid 1px black;
    border-radius: 5px;
    color: rgb(85, 45, 45);
 }

html {
    height: 99.5%;
    background-image: linear-gradient(pink, white,white);
}

button {
    background-color: white;
    height: 5vh;
}

#main-container { 
    display:flex;
    flex-direction: column;
}

#body-element {
    display: flex;
    flex-direction: row;
}